ENVIRONMENT=development

# Debe coincidir con NEXT_PUBLIC_API_URL del frontend si lo cambias ahí
API_PREFIX=/api/v1
CORS_ORIGINS=["http://localhost:3000"]

DATABASE_URL=sqlite:///./careercopilot.db

JWT_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=10080

AI_PROVIDER=openai
OPENAI_API_KEY=tu-api-key-de-openai
OPENAI_MODEL=gpt-4o-mini
